[% TRY %]
    [% lang = "$plugin_dir/i18n/$lang_dialect"_".inc" %]
    [% PROCESS "$lang" %]
[% CATCH %]
    [% TRY %]
        [% lang = "$plugin_dir/i18n/$lang_all"_".inc" %]
        [% PROCESS "$lang" %]
    [% CATCH %]
        [% PROCESS "$plugin_dir/i18n/default.inc" %]
    [% END %]
[% END %]
[% IF estimated_delivery_date %]
[% MSG.estimated_delivery_date %]: [% estimated_delivery_date %]
[% END %]

[% IF note %]
[% MSG.note %]: [% note %]
[% END %]